<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Examhub | Home</title>

    <link
      rel="shortcut icon"
      href="resources/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/login.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <script
      src="https://kit.fontawesome.com/551e46de4a.js"
      crossorigin="anonymous"
    ></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
  </head>
  <body>
    <!-- NAVBAR  -->
    <header>
      <nav class="navbar navbar-expand-lg fixed-top py-3" id="nav-bar">
        <div class="container">
          <div class="logo">
            <a href="/">
              <img src="/resources/logo.svg" alt="Exam Hub" />
            </a>
          </div>
          <button
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler navbar-toggler-right"
          >
            <i class="fa fa-bars"></i>
          </button>
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto" id="current">
              <li class="nav-item active">
                <a href="/" class="button2" id="about-button">Home</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- NAVBAR  -->
    <form action="" id="login-form">
      <h1>Login</h1>
      <label>Username</label>
      <input type="text" />
      <label>Password</label>
      <input type="password" />
      <!-- <button>Login</button> -->
      <a class="button" target="_blank" id="login-form-button">Login</a>
      <!-- <button class="button2" id="about-button">Login</button> -->
    
    </form>
    <h3>or</h3>
    <div id="social-login-buttons">
      <!-- <a href="/explore?mode=upload" class="button4" id="facebook-login-button" style="background-color:#4e9af1"><i class="fa-brands fa-facebook"></i>Login with Facebook</a> -->
      <!-- <div class="fb-login-button" data-width="" data-size="large" id="facebook-login-button" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div> -->
      <!-- <a href="/auth/loginGoogle" class="button4" id="facebook-login-button" style="background-color:#4267B2">Login with Facebook</a> -->
      <a href="/auth/loginGoogle" class="button4" id="gmail-login-button" style="background-color:#f14e4e">Login with Gmail</a>
      <!-- <div class="g-signin2" data-width="300" data-height="200" data-longtitle="true"></div> -->
      <!-- testing -->
      <!-- <div id="my-signin2"></div>
  <script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
  </script>

  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script> -->
      <!-- testing -->

    </div>
    <style>
      #facebook-login-button {
        position: absolute;
        margin-top: 0px;
        margin-left: 10%;
        width: 235px;
        border-radius: 0;
      }
      #gmail-login-button {
        position: absolute;
        margin-top: 50px;
        margin-left: 10%;
        width: 235px;
        border-radius: 0;
      }
      a.button4{
          display:inline-block;
          padding:0.3em 1.2em;
          margin:0 0.1em 0.1em 0;
          border:0.16em solid rgba(255,255,255,0);
          border-radius:2em;
          box-sizing: border-box;
          text-decoration:none;
          font-family:'Roboto',sans-serif;
          font-weight:300;
          color:#FFFFFF;
          text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
          text-align:center;
          transition: all 0.2s;
          }
          a.button4:hover{
            border-color: rgba(255,255,255,1);
          }
          @media all and (max-width:30em){
            a.button4{
            display:block;
            margin:0.2em auto;
          }
        }

      h1 {
        font-size: 50px;
        text-align: center;
        color: black;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        letter-spacing: 3px;
        margin-top: 5%;
        margin-bottom: 5%;
        opacity: 0.7;
      }

      h3 {
        position: absolute;
        margin-top: 80px;
        margin-left: 0%;
      }
      #facebook-login {
        margin-left: 50%;
        width: 300px;
      }

      label {
        font-size: 20px;
        color: black;
        margin-left: 10%;
        opacity: 0.8;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      }

      input {
        width: 80%;
        margin: 5% auto;
        margin-bottom: 8%;
        border: none;
        outline: none;
        background: transparent;
        color: black;
        border-bottom: 1px solid rgba(4, 4, 4, 0.6);
        opacity: 0.8;
      }
      a.button {
        display: inline-block;
        padding: 0.3em 1.2em;
        margin: 0 0.1em 0.1em 0;
        border: 0.16em solid rgba(255, 255, 255, 0);
        border-radius: 2em;
        box-sizing: border-box;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: large;
        color: white;
        text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
        text-align: center;
        transition: all 0.2s;
      }

      a {
        margin-left: 10%;
      }

      #login-form-button {
        background-color: #f14e4e;
        text-decoration: none;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 15px;
      }

      #login-form-button:hover {
        background-color: white;
        border-color: #5bb318;
        color: #5bb318;
      }
    </style>

    <script src="js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script src="/js/firebase.js" type="module">console.log("script loaded?");</script>
</script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v15.0" nonce="WdSC9zLn"></script>
  </body>
</html>
