<nav class="navbar navbar-expand-lg fixed-top py-3" id="nav-bar">
  <div class="container">
    <div class="logo">
      <a href="/">
        <img src="/logo.svg" alt="Exam Hub" />
      </a>
    </div>
    <button
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler navbar-toggler-right"
    >
      <i class="fa fa-bars" id="user-hamburgermenu"></i>
    </button>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto" id="current">
        <li class="nav-item active">
          <a href="/auth/user/<%=user.id%> " class="button2" id="about-button"
            >My Profile</a
          >
        </li>
        <li class="nav-item">
          <a href="/auth/logout" class="button2" id="contact-button">Logout </a>
        </li>
        <li class="nav-item">
          <% if(mode != null && mode ==='upload'){%>
          <a href="/explore?mode=download" class="button2" id="login-button"
            >Download Papers</a
          >
          <%} else{ %><a
            href="/explore?mode=upload"
            class="button2"
            id="login-button"
            >Upload papers</a
          >
          <% } %>
        </li>
      </ul>
    </div>
  </div>
</nav>
