<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examhub | Home</title>

    <link rel="shortcut icon" href="resources/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />

    <script src="https://kit.fontawesome.com/551e46de4a.js" crossorigin="anonymous"></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
</head>
<body>
    <!-- NAVBAR  -->
    <header>
        <nav class="navbar navbar-expand-lg fixed-top py-3" id="nav-bar">
            <div class="container">
                <div class="logo">
                    <a href="index.html">
                        <img src="resources/logo.svg" alt="Exam Hub">
                    </a>
                </div>
                <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right">
                    <i class="fa fa-bars"></i>
                </button>
                <div id="navbarSupportedContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto" id="current">
                        <li class="nav-item active">
                            
                            <a href="something" class="button2" id="about-button">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="login.html" class="button2" id="contact-button">Login/SignUp</a>
                        </li>
                        <li>
                            <a href="something" class="button2" id="login-button">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- NAVBAR  -->
    <div class="container" id="term-sheet">
        <h1>Terms and Conditions</h1>
        <br>
        <p class="lead text-muted mb-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. A lacus vestibulum sed arcu non odio euismod lacinia at. 
            At auctor urna nunc id cursus metus aliquam eleifend mi. Pharetra
             massa massa ultricies mi quis hendrerit dolor magna. Potenti nullam 
             ac tortor vitae purus faucibus. Lectus vestibulum mattis ullamcorper 
             velit sed ullamcorper. Platea dictumst vestibulum rhoncus est pellentesque 
             elit ullamcorper. Consequat semper viverra nam libero justo laoreet.
        </p>
        <p class="lead text-muted mb-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. A lacus vestibulum sed arcu non odio euismod lacinia at. 
            At auctor urna nunc id cursus metus aliquam eleifend mi. Pharetra
             massa massa ultricies mi quis hendrerit dolor magna. Potenti nullam 
             ac tortor vitae purus faucibus. Lectus vestibulum mattis ullamcorper 
             velit sed ullamcorper. Platea dictumst vestibulum rhoncus est pellentesque 
             elit ullamcorper. Consequat semper viverra nam libero justo laoreet.
        </p>
        <p class="lead text-muted mb-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna 
            aliqua. A lacus vestibulum sed arcu non odio euismod lacinia at. 
            At auctor urna nunc id cursus metus aliquam eleifend mi. Pharetra
             massa massa ultricies mi quis hendrerit dolor magna. Potenti nullam 
             ac tortor vitae purus faucibus. Lectus vestibulum mattis ullamcorper 
             velit sed ullamcorper. Platea dictumst vestibulum rhoncus est pellentesque 
             elit ullamcorper. Consequat semper viverra nam libero justo laoreet.
        </p>
    </div>
    <style>
        #term-sheet {
            margin-top: 15%;
        }
    </style>

    <script src="js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
</body>
</html>